<div id='cart'>

  <div class="cart-title">
    <h3><%= cart.store_name %> Cart</h3>
    <% if cart.items.empty? -%>
      <p><i>Your cart is empty; click add-to-cart to add products.</i></p>
    <% end -%>
  </div>

  <table>
    <%= render(:partial => "refinery/stores/stores/cart_item", :collection => cart.items) %>
    <tr class="total-line">
      <td colspan="2">Total</td>
      <td class="total-cell"><%= number_to_currency(cart.total_price) %></td>
    </tr>
    <tr>
      <td> <%= button_to( "checkout",   refinery.checkout_stores_stores_path(),   :class => "checkout-cart" )%></td>
      <td> <%= button_to( "empty cart", refinery.empty_cart_stores_stores_path(), :class => "empty-cart" ) %></td>
    </tr>
  </table>

</div>
