<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(order) -%>">
  <span class='title'>
    <%= order.order_status %>

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.orders_order_path(order),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_orders_admin_order_path(order),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.orders_admin_order_path(order),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => order.order_status),
        :method => :delete %>
  </span>
</li>
