- content_for :stylesheets do
  = stylesheet_link_tag('refinery/refinerycms-stores')

%section#records
  = render( :partial => "refinery/shared/address", :object => @order.billing_address,  :locals => { :as_name => :billing_address } )
  = render( :partial => "refinery/shared/address", :object => @order.shipping_address, :locals => { :as_name => :shipping_address } )

  .order-content
    %table{ :width => "90%" }
      %thead.heading-row
        %th.item-col{:width => "70%"} item
        %th.amount-col{:width => "10%"} quantity
        %th.amount-col{:width => "10%"} price
        %th.amount-col{:width => "10%"} amount

      - @order.line_items.each do |item|
        %tr
          %td.item-name= item.product.name
          %td.item-quantity= item.quantity
          %td.item-unit-price= item.unit_price
          %td.sub-total-type= number_to_currency( ( item.quantity.to_f * item.unit_price ) )

      .order-totals
        - sub_product  = @order.total_price
        - sub_discount = 0.0
        - sub_shipping = 0.0
        - sub_tax      = 0.0
        - grand_total  = sub_product - sub_discount + sub_shipping + sub_tax

        %tr
          %td{ :colspan => 4 } &nbsp;

        %tr 
          %td.right-just product
          %td &nbsp;
          %td &nbsp;
          %td.sub-total-type= number_to_currency sub_product

        %tr
          %td.right-just discount
          %td &nbsp;
          %td &nbsp;
          %td.sub-total-type= number_to_currency sub_discount

        %tr
          %td.right-just shipping
          %td &nbsp;
          %td &nbsp;
          %td.sub-total-type= number_to_currency sub_shipping

        %tr
          %td.right-just tax
          %td &nbsp;
          %td &nbsp;
          %td.sub-total-type= number_to_currency sub_tax

        %tr
          %td.right-just purchase total
          %td &nbsp;
          %td &nbsp;
          %td.sub-total-type= number_to_currency grand_total

%aside#actions
  %p
    Order #
    = @order.order_number
  %p= @order.order_status.gsub(/_/,' ')
  %p= @order.display_date.to_s(:long)

  %ul.collapsible_menu
    %li.not_a_link
      = link_to "other actions", '#', :class => 'folder_icon'
    %li
      = link_to t('refinery.orders.admin.orders.actions.manage'), refinery.orders_admin_orders_path, :class => 'folder_icon'
    %li
      = link_to t('refinery.products.admin.products.actions.manage'), refinery.products_admin_products_path, :class => 'folder_icon'
    %li
      = link_to t('refinery.products.admin.digidownloads.actions.manage'), refinery.products_admin_digidownloads_path, :class => 'folder_icon'
 

