= form_for [refinery, :products_admin, @digidownload], :html => { :multipart => true } do |f|
  = render '/refinery/admin/error_messages', :object => @digidownload, :include_object_name => true

  - unless @digidownload.doc_file_name.blank?
    .download-documents.clearfix
      %dl
        %dt
          = image_tag( ::Refinery::Products::Digidownload.category_to_icon( @digidownload.to_category ), { :alt => @digidownload.doc_file_name, :class => 'icon_image' } )

        %dd
          %i= @digidownload.doc_file_name

  = f.label( "This download belongs to product:" )
  = f.select( :product_id, @digidownload.digi_select_list )

  = f.label( :doc, 'Upload new digital download', {:title => "digital download to be added or changed"} ) 
  = f.file_field( :doc )
 
  .field
    = f.label "Restrict number of downloads per customer", {:title => "should there be a restriction on number of downloads for a given customer?should there be a restricted period in days after purchase for allowing downloads? leave blank if no restriction." }
    = f.text_field :restrict_count
  .field
    = f.label "Restrict number of days for downloading after purchase", {:title => "should there be a restricted period in days after purchase for allowing downloads? leave blank if no restriction" }
    = f.text_field :restrict_days

  = render '/refinery/admin/form_actions', :f => f,                                                  |
    :continue_editing => false,                                                                      |
    :delete_title => t('delete', :scope => 'refinery.products.admin.digidownloads.digidownload'),              |
    :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @digidownload.doc_file_name) |

- content_for :javascripts do
  :javascript
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  
