%div( id = '#{as_name.to_s}' )
  = fields_for( as_name, address_form ) do |f|
    = render :partial => "/refinery/admin/error_messages", :locals => { :object => address_form, :include_object_name => true }

    %fieldset.modal-fieldset.clearfix2
      = f.label( :first_name, 'First Name*' ) 
      = f.text_field( :first_name )

      = f.label( :last_name, 'Last Name*' ) 
      = f.text_field( :last_name )

      = f.label( :phone, 'phone' ) 
      = f.telephone_field( :phone )

      = f.label( :email, 'email') 
      = f.email_field( :email )

      = f.label( :address1, 'address1*') 
      = f.text_field( :address1 )

      = f.label( :address2, 'address2' ) 
      = f.text_field( :address2 )
     
      = f.label( :city, 'city*') 
      = f.text_field( :city )

      = f.label( :state, 'state*' ) 
      = f.text_field( :state )

      = f.label( :zip, 'zip*' ) 
      = f.text_field( :zip )

      = f.label( :country, 'country*' ) 
      = f.text_field( :country )

