<%= form_for [refinery, :products_admin, @product] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @product,
              :include_object_name => true %>

        <table width="100%" class='product-header' >
          <tr>
            <td style="vertical-align: top;" > 
  <div class='field'>
    <%= f.label 'choose a store' -%>
    <%= f.select :store_id, ::Refinery::Stores::Store.select_list  -%>
  </div>
  
  <div class='field '>
    <%= f.label :name -%>
    <%= f.text_field :name, :size => 80 -%>
  </div>

  <div class='field '>
    <%= f.label :date_available -%>
    <%= f.datetime_select :date_available  -%>
  </div>

  <div class='field '>
    <%= f.label :inactive -%>
    <%= f.check_box :inactive  -%>
  </div>
 
 
            </td> 


            <td class="mainpic" > 

   <div class='field'>
    <%= f.label :main_pic -%>
    <%= render :partial => "/refinery/admin/image_picker", :locals => {
          :f => f,
          :field => :main_pic_id,
          :image => @product.main_pic,
          :toggle_image_display => false
        } %>
  </div>
            </td> 
          </tr>
        </table>

  <div class='clearfix' > 
    <div class='field float-field'>
       <%= f.label :code -%>
      <%= f.text_field :code  -%>
    </div>
    
    <div class='field float-field'>
      <%= f.label :price -%>
      <%= f.text_field :price  -%>
    </div>
    
    <div class='field float-field'>
      <%= f.label :quantity -%>
      <%= f.text_field :quantity  -%>
    </div>
    
    <div class='field float-field'>
      <%= f.label :weight -%>
      <%= f.text_field :weight  -%>
    </div>
     
    <div class='field float-field'>
      <%= f.label :size_width -%>
      <%= f.text_field :size_width  -%>
    </div>
    
    <div class='field float-field'>
      <%= f.label :size_height -%>
      <%= f.text_field :size_height  -%>
    </div>
    
    <div class='field float-field'>
      <%= f.label :size_depth -%>
      <%= f.text_field :size_depth  -%>
    </div>
   
    <div class='field float-field'>
      <% #= f.label :tax_type -%>
      <% #= f.text_field :tax_type  -%>
    </div>
    
    <div class='field float-field'>
      <% #= f.label :digital_download -%>
      <% #= f.check_box :digital_download, :checked => @product[:is_digital_download]  -%>
    </div>
  </div>

 
  <div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <% [:description].each_with_index do |part, part_index| %>
          <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
            <%= link_to t("#{part}", :scope => "activerecord.attributes.refinery/products/product", :default => part.to_s.titleize), "##{part}" %>
          </li>
        <% end %>
      </ul>
      <div id='page_part_editors'>
        <% [:description].each do |part| %>
          <div class='page_part' id='<%= part %>'>
            <%= f.text_area part, :rows => 20, :class => 'wymeditor widest' -%>
          </div>
        <% end %>
      </div>
    </div>

  </div>
 
  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.products.admin.products.product'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @product.name) %>
<% end -%>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end %>
