- content_for :header, t('pick_new_password_for', :scope => 'refinery.users.reset', :email => @customer.email)

- content_for :stylesheets do
  = stylesheet_link_tag('refinery/refinerycms-stores')

- content_for :body_content_title do
  %h1 Update Customer Profile

- content_for :body_content_left do

  %section
    .modal-form.basic-form
      = form_for @customer,      |
        :url => refinery.customers_customer_path, |
        :html => { :method => :put } do |f|           |
        = render '/refinery/admin/error_messages', :object => @customer, :include_object_name => true
        .field
          = f.label :password
          = f.password_field :password, :class => 'larger widest'
        .field
          = f.label :password_confirmation
          = f.password_field :password_confirmation, :class => 'larger widest'
        = render '/refinery/admin/form_actions', :f => f,                               |
          :continue_editing => false,                                                   |
          :submit_button_text => t('reset_password', :scope => 'refinery.users.reset'), |
          :cancel_url => refinery.stores_root_path,                       |
          :cancel_title => nil,                                                         |
          :hide_delete => true                                                          |

        %h3 Your Billing Information
        = render( :partial => "refinery/shared/address_form", :object => @billing_address,  :locals => { :as_name => :billing_address } )
          
        %h3 Your Shipping Information
        .form-lines.no-width
          = check_box_tag( :use_billing, '1', false, { :onclick => "$('#shipping_address').toggle();" } )
          = label_tag( :use_billing, 'use billing address for shipping', {:title => "use billing address for shipping"} )
        %br
        = render( :partial => "refinery/shared/address_form", :object => @shipping_address, :locals => { :as_name => :shipping_address } )


