%div( class = 'address-block' id = '#{as_name.to_s}' )
  %h3= as_name.to_s.gsub(/_/,' ') 
  = address.first_name 
  = address.last_name 
  %br
  = address.address1 
  = address.address2 
  %br
  = address.city 
  = address.state 
  = address.zip 
  %br
  = address.country 
  %br
  = number_to_phone address.phone 
  &emsp;
  = mail_to( address.email , address.email )

