<% content_for :body_content_title do %>
  <%= @product.name %>
<% end %>

<% content_for :body_content_left do %>
  <section id="product">

   <div class="product_show">

     <div class="product_photo">

       <% if @product.main_pic_id -%>
          <%= image_fu @product.main_pic, Refinery::Images.user_image_sizes[:large], :class => "product-pic", :alt =>  @product.name  %>
       <% else -%>
         &nbsp;
       <% end %>

     </div>

     <div class="product_text">

       <h1> <%= @product.name %> </h1>
        <p>
          <%= raw @product.description %>
        </p>

     </div>

   </div>

   <div class="product_spec">

     <div class="product_code">

        <p>
          code: <%= @product.code %> <br/>
          size: 
          <%= number_with_precision(@product.size_width, :precision => 1) %> x
          <%= number_with_precision(@product.size_height, :precision => 1) %> x
          <%= number_with_precision(@product.size_depth, :precision => 1) %> <br/>
          weight: 
          <%= number_with_precision(@product.weight, :precision => 1) %> lbs

          <% unless @product.digital_download_id.blank? %>
            <i>digital download</i>
          <% end -%>
        </p>

     </div>

     <div class="product_pricebuy">

        <h2>
          <%= number_to_currency(@product.price) %>
        </h2>

        <div class="product-action">
         <%= button_to( "add to cart", refinery.add_to_cart_stores_stores_path(:id => @product), :class => "add-to-cart" ) %>
        </div>

     </div>

   </div>

  </section>

<% end %>

<% content_for :body_content_right do %>
  <aside>
      <%= render( :partial => "refinery/stores/stores/cart", :object => @cart ) %>
  </aside>

<% end %>

<%= render '/refinery/content_page' %>
